<div class="centered_elements" id="edit_user">
    <h1>Edit Your Profile</h1>
    <form method="POST" action='/users/:id'>
        <input id="hidden" type="hidden" name="_method" value="PATCH">
        <label>Name</label>
        <br/>
        <input type="text" name="name" value="<%=@user.name%>" required>
        <br/>
        <br/>
        <label>Email</label>
        <br/>
        <input type="text" name="email" value="<%=@user.email%>" required>
        <br/>
        <br/>
        <label>About You:</label>
        <br/>
        <textarea name="description" required><%=@user.description%></textarea>
        <br/>
        <br/>
        <label>Password</label>
        <br/>
        <input type="password" name="password" value="<%=@user.password%>" required>
        <br/>
        <br/>
        <input type="submit" value="Submit Changes">
    </form>
</div>