
<div class="centered_elements">
  <h1>Login</h1>
  <form method="POST" action="/login">
    <input type="text" name="email" placeholder="Email">
    <br/>
    <br/>
    <input type="password" name="password" placeholder="Password">
    <br/>
    <br/>
    <input type="submit" name="submit" id="login_button" value="Login">
  </form>
</div>