<p> Welcome, <%= current_user.name %>
<h2> Listings </h2>

<% @banjos.each_with_index do |banjo, index| %>
  <div>
    <%= "#{index + 1} -" %><a href="/banjos/<%=banjo.id%>"><%= "#{banjo.make} #{banjo.model}"%></a>
  </div>
<% end %>

<a href="/banjos/new">Create a Listing</a>