<h2>Banjos for Sale</h2>

<div class="banjo_listings">
  <% @banjos.each do |banjo| %>
    <a href="/banjos/<%=banjo.id%>"><%= "#{banjo.make} #{banjo.model} (#{banjo.year_made}) - #{banjo.price}"%></a>
  <% end %>
</div>

<a href="/banjos/new">Create a Listing</a>