<div id="new_listing">
    <h1>List a Banjo</h1>
    <form method="POST" action='/banjos/new'>
        <label>Make</label>
        <br/>
        <input type="text" name="make">
        <br/>
        <br/>
        <label> Model</label>
        <br/>
        <input type="text" name="model">
        <br/>
        <br/>
        <label>Year Made</label>
        <br/>
        <input type="number" name="year_made">
        <br/>
        <br/>
        <label>Price</label>
        <br/>
        <input type="text" name="price">
        <br/>
        <br/>
        <label>Banjo Description:</label>
        <br/>
        <textarea name="description"></textarea>
        <br/>
        <br/>
        <input type="submit" value="List it!">
    </form>
</div>