<div class="full-size-header">
    <h1>Create a New Listing</h1>
</div>

<div class="centered_elements" id="new_listing">
    <form method="POST" action='/banjos/new'>
        <input type="text" name="make" placeholder="Banjo Make" required>
        <br/>
        <input type="text" name="model" placeholder="Banjo Model" required>
        <br/>
        <input type="number" name="year_made" placeholder="Year Made" required>
        <br/>
        <input type="text" name="price" placeholder="Price" required>
        <br/>
        <textarea name="description" value="Description"></textarea>
        <br/>
        <input type="submit" value="List it!">
    </form>
</div>