<h1>Welcome to Banjo Market!</h1>
<form method="POST" action="/login">
  <label>Enter Your Email:</label>
  <br/>
  <input type="text" name="email" placeholder="Email">
  <br/>
  <br/>
  <label>Enter Your Password:</label>
  <br/>
  <input type="password" name="password" placeholder="Password">
  <br/>
  <br/>
  <input type="submit" name="submit" value="Login">
</form>
