
<div class="full-size-header">
  <h1>Welcome to<br/>Banjo Market!</h1>
</div>

<div class="centered_elements">
  <div id="home">
    <p>Welcome to Banjo Market! On this site, you can sell and purchase used banjos from fellow pickers.</p>
  </div>

  <div id="home_links">
    <a href="/banjos">View Listings</a>
    <a href="/banjos/new">Create Listing</a>
  </div>
  
</div>

