<h1>Welcome to Banjo Market!</h1>

<nav>
  <% if logged_in? %>

    <a href="/banjos/new"> Add a Banjo</a>
    <a href="/logout"> Log Out </a>
    <p>Welcome, <%=current_user.name %></p>

  <% else %>
    <a href="/signup">Sign Up</a>
    <a href="/login"> Sign In </a>
  <%end %>

</nav>

