<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>banjo_market</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />

    <!-- Top navigation -->
    <div class="nav">
            <ul>
                <li class="home_link"><a href="#splash_wrapper">Home</a></li>
                <li class="menus_link"><a href="#menus_wrapper">Menus</a></li>  
                <li class="logo"><h1>Banjo Market!</h1></li>
                <li class="contact_link"><a href="#contact_wrapper">Contact</a></li>
                <li class="reservations_link"><a href="#reservations_wrapper">Reservations</a></li>
            </ul>
    </div>
  </head>
  <body>
    <div class="wrapper">

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>banjo_market</strong></small>
        <a href="/">Home</a>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
